.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    ul{
        
        list-style: none;
        display: flex;
        color: #000000;
        gap: 1rem;
        flex-direction: column;
        // background-color: rgb(160, 158, 158);
        padding: 10px;
        border-radius: 1rem;

        li{
            background-color: #fff;
            border-radius: .6rem;
            display: flex;
            align-items: center;
            gap:.75rem;
            font-weight: 500;
            height: 60px;
            padding-right: 4px;

            img{
                display: block;
                max-width: 100%;
                width: 60px;
                height: 60px;
                object-fit: cover;
                border-top-left-radius: .6rem;
                border-bottom-left-radius: .6rem;
            }

            p{
                display: flex;
                align-items: center;
                text-overflow: ellipsis;
                overflow: hidden;
                height: 60px;

                @media screen and (max-width: 550px){
                   font-size: .8rem;
                 }
            }
        }
    }

    .btnAdd{
        height: 2rem;
        width: 8rem;
        border-radius: 4rem;
        border: 0;
        font-weight: 700;
        background-color: #e63946;
        color: #fff;
        cursor: pointer;
    }
}