.container{
    width: 400px;
    background-color: rgb(82, 80, 80);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    button{
        padding: 2px;
        min-width: 6rem;
        height: 2rem;
        border-radius: 1rem;
        border: 0;
        background-color: #6d23b6;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
    }

    ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        li{
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }

}

.disable{
    display: none;
}