.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;

    button{
        height: 3rem;
        width: 8rem;
        border-radius: 4rem;
        cursor: pointer;
        border: 0;
        color: #ffff;
        background-color: #e63946;
        font-weight: 600;
    }

    header{
        h2{
            text-align: center;
        }
    }
}

.inputContainer{
    display: flex;
    flex-direction: column;  
    align-items: center; 
    gap: 3rem; 
    
    select{
        height: 1.75rem;
        font-size: 1rem;
        border-radius: 1rem;
        padding: 4px;
        font-weight: 500;
        width: 200px;
    }

    option{
        border-radius: 1rem;
    }

    .cityInput{
        height: 2rem;
        border-radius: 1rem;
        padding: 8px;
        width: 300px;
    }

    .doubleInputContainer{
        display: flex;
        gap: 1rem;

        .doubleInputs{
            height: 2rem;
            border-radius: 1rem;
            padding: 8px;
            width: 150px;
        }
    }

    
}