.container{
    width: 100%;

    ul{
        list-style: none;
        display: flex;
        padding: 1rem;
        gap: 1rem;
        
    }

    button{
        padding: 1rem;
        height: 2rem;
        border: 0;
        border-radius: 1rem;
        font-weight: 700;
        cursor: pointer;
        text-align: inherit;
        display: flex;
        align-items: center;
        background-color: #e63946;
        color: #fff;
    }
}