.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.listContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

}