.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.listContainer{
    padding: 0 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;

}